<div class="topbar">

  <div class="tb-left">
    <h5>{{ pageTitle }}</h5>
    <span>Bienvenue sur LocaTech</span>
  </div>

  <div class="topbar-search">
    <i class="bi bi-search"></i>
    <input type="text" placeholder="Rechercher..." />
  </div>

  <div class="tb-actions">

    <button class="tb-icon-btn">
      <i class="bi bi-bell"></i>
      <span class="notif-badge">3</span>
    </button>

    <button class="tb-icon-btn">
      <i class="bi bi-envelope"></i>
    </button>

    <div class="tb-profile">
      <img src="https://i.pravatar.cc/100" alt="profile">

      <div class="tb-profile-info">
        <span class="name">Fehizoro</span>
        <small>Administrateur</small>
      </div>

      <i class="bi bi-chevron-down"></i>
    </div>

  </div>

</div>